<.header>
  New Attempt
  <:subtitle>Use this form to manage attempt records in your database.</:subtitle>
</.header>

<.attempt_form changeset={@changeset} action={~p"/attempts"} />

<.back navigate={~p"/attempts"}>Back to attempts</.back>
