<.header>
  New Watching
  <:subtitle>Use this form to manage watching records in your database.</:subtitle>
</.header>

<.watching_form changeset={@changeset} action={~p"/watchings"} />

<.back navigate={~p"/watchings"}>Back to watchings</.back>
